@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor01: #00030D;
    --cor02: #030F26;
    --cor03: #072040;
    --cor04: #BB8C81;
    --cor05: #BFAB99;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #fff;
}

.capa{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagens/backgroud02.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.capa h1{
    display: flex;
    border: 2px solid var(--cor03);
    box-shadow: 0 0 10px #c3c3c36f;
    justify-content: center;
    align-items: center;
    padding: 8px;
    height: 250px;
    width: 550px;
    font-size: 100px;
    border-radius: 50px;
    backdrop-filter: blur(15px);
}

.sobre-mim{
    border: 2px solid;
    display: flex;
}

