@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(imagens/2943a58bb0aac8eca2f7770bff356fa8.jpeg);
}

header {

}

nav {
    background: transparent;
    backdrop-filter:  blur(20px);
    border: 5px solid blue;
    backdrop-filter: blur(3px);
    margin: auto;
    text-align: center;
    padding: 10px;
    display: flex;
}

nav > a {
    text-decoration: none;
}